In [1]:
import pandas as pd 
import os

In [2]:
for root, dirs, files in os.walk(os.getcwd()):
    for filename in files:
        pass
    for dirname in dirs:
        print(os.path.join(root, dirname))

d:\gitgood\ccb_aesoDownload_tutorial\dataFromAeso
d:\gitgood\ccb_aesoDownload_tutorial\support docs
d:\gitgood\ccb_aesoDownload_tutorial\weatherCanada
d:\gitgood\ccb_aesoDownload_tutorial\dataFromAeso\ActualForecastWMRQHReportServlet
d:\gitgood\ccb_aesoDownload_tutorial\dataFromAeso\MeritOrderSnapshotEnergyReportServlet
d:\gitgood\ccb_aesoDownload_tutorial\dataFromAeso\processed
d:\gitgood\ccb_aesoDownload_tutorial\dataFromAeso\summary
d:\gitgood\ccb_aesoDownload_tutorial\dataFromAeso\temp
d:\gitgood\ccb_aesoDownload_tutorial\weatherCanada\hourly

In [3]:
subfolders = [ f.path for f in os.scandir(os.getcwd()) if f.is_dir() ]
subfolders

['d:\\gitgood\\ccb_aesoDownload_tutorial\\dataFromAeso',
 'd:\\gitgood\\ccb_aesoDownload_tutorial\\support docs',
 'd:\\gitgood\\ccb_aesoDownload_tutorial\\weatherCanada']

In [4]:
dataFolder = subfolders[0]
dataFolder

'd:\\gitgood\\ccb_aesoDownload_tutorial\\dataFromAeso'

In [5]:
subfolders = [ f.path for f in os.scandir(dataFolder) if f.is_dir() ]
dataFolder = subfolders[3]
dataFolder

'd:\\gitgood\\ccb_aesoDownload_tutorial\\dataFromAeso\\summary'

In [60]:
outputFolder = subfolders[2]
outputFolder

'd:\\gitgood\\ccb_aesoDownload_tutorial\\dataFromAeso\\processed'

In [7]:
filenames = [f for f in os.listdir(dataFolder) if '.csv' in f and '#' not in f]
filenames

['ActualForecastWMRQHReportServlet-ending2022.csv',
 'aeso_asset_types.csv',
 'csd2022.csv',
 'hourlyClimate-ending2022.csv',
 'MeritOrderSnapshotEnergyReportServlet-ending2022.csv']

In [7]:
#####
#####
#####   Actual Forecast 

####reading actualforecast and formating to datetime index

fpath = os.path.join(dataFolder,filenames[0])
df = pd.read_csv(fpath)

C:\Users\negativegamma\AppData\Local\Temp\ipykernel_22700\3887401293.py:4: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(fpath)

In [8]:
df[['Date2', 'HE']] = df['Date'].str.split(' ', expand=True)

In [9]:
df.columns

Index(['Unnamed: 0', 'Date', 'Forecast Pool Price', 'Actual Posted Pool Price',
       'Forecast AIL', 'Actual AIL', 'Forecast AIL & Actual AIL Difference',
       'Date2', 'HE'],
      dtype='object')

In [10]:
dfCols = ['Forecast Pool Price', 'Actual Posted Pool Price',
       'Forecast AIL', 'Actual AIL', 'Forecast AIL & Actual AIL Difference',
       'Date2', 'HE']

In [11]:
df.dtypes

Unnamed: 0                                int64
Date                                     object
Forecast Pool Price                      object
Actual Posted Pool Price                float64
Forecast AIL                             object
Actual AIL                               object
Forecast AIL & Actual AIL Difference      int64
Date2                                    object
HE                                       object
dtype: object

In [12]:
####AESO uses '02*' for DST

print(df['HE'].unique())

mask = df['HE'] == '02*'

print(sum(mask))

['01' '02' '03' '04' '05' '06' '07' '08' '09' '10' '11' '12' '13' '14'
 '15' '16' '17' '18' '19' '20' '21' '22' '23' '24' '02*']
17

In [13]:
df = df.loc[~mask,dfCols]

In [14]:
newIDX = pd.to_datetime(df['Date2']) + pd.to_timedelta(df['HE'].astype(int) - 1, unit='h')

In [15]:
df.index = newIDX

In [17]:
df

,Forecast Pool Price,Actual Posted Pool Price,Forecast AIL,Actual AIL,Forecast AIL & Actual AIL Difference,Date2,HE
2010-01-01 00:00:00,49.68,51.12,"8,205","8,307",-102,01/01/2010,01
2010-01-01 01:00:00,38.0,48.79,"8,039","8,186",-147,01/01/2010,02
2010-01-01 02:00:00,44.45,39.56,"7,939","8,075",-136,01/01/2010,03
2010-01-01 03:00:00,36.21,36.27,"7,908","8,013",-105,01/01/2010,04
2010-01-01 04:00:00,36.24,36.16,"7,912","7,982",-70,01/01/2010,05
...,...,...,...,...,...,...,...
2021-12-31 19:00:00,77.33,129.11,"11,380","11,328",52,12/31/2021,20
2021-12-31 20:00:00,65.2,70.25,"11,206","11,279",-73,12/31/2021,21
2021-12-31 21:00:00,66.28,70.94,"11,162","11,181",-19,12/31/2021,22
2021-12-31 22:00:00,67.4,69.89,"11,000","11,046",-46,12/31/2021,23
2021-12-31 23:00:00,67.82,66.17,"10,866","10,902",-36,12/31/2021,24

In [21]:
fpath = os.path.join(subfolders[2],'processed_ActualForecast_ending2022.csv')
print(fpath)

df.to_csv(fpath)

f:\gitgood\ccb_aesoDownload_tutorial\dataFromAeso\processed\processed_ActualForecast_ending2022.csv

In [8]:
#########################################
#########################################
#########################################
#########################################



###### merit order

In [9]:
filenames = [f for f in os.listdir(dataFolder) if '.csv' in f and '#' not in f]
filenames

['ActualForecastWMRQHReportServlet-ending2022.csv',
 'aeso_asset_types.csv',
 'csd2022.csv',
 'hourlyClimate-ending2022.csv',
 'MeritOrderSnapshotEnergyReportServlet-ending2022.csv']

In [10]:
fpath = os.path.join(dataFolder,filenames[-1])
df = pd.read_csv(fpath)

C:\Users\negativegamma\AppData\Local\Temp\ipykernel_11388\2140685336.py:2: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(fpath)

In [11]:
'''
import datatable as dt 

data = dt.fread(fpath)
data.to_pandas()
'''

,C0,Date,HE,Import/Export,Asset Id,Block Number,Price,From,To,Size,Available MW,Dispatched,Dispatched MW,Flexible,Offer Control,Effective Date/Time
0,0,01/01/2010,1,,DRW1,1,999.99,3,6,3,3,N,0,Y,&amp;nbsp;,01/01/2010 00:30
1,1,01/01/2010,1,,ALP2,1,999.99,4,7,3,3,N,0,Y,&amp;nbsp;,01/01/2010 00:30
2,2,01/01/2010,1,,FNG1,2,999.99,43,47,4,4,N,0,Y,&amp;nbsp;,01/01/2010 00:30
3,3,01/01/2010,1,,WB4,1,999.99,250,270,20,20,N,0,Y,&amp;nbsp;,01/01/2010 00:30
4,4,01/01/2010,1,,CMH1,3,999.99,72,115,43,43,N,0,N,&amp;nbsp;,01/01/2010 00:30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24777244,4602,12/31/2016,24,,SCR5,0,0.00,0,315,315,315,Y,315,Y,Suncor Energy Inc.,12/31/2016 23:56
24777245,4603,12/31/2016,24,,KH3,0,0.00,0,323,323,323,Y,323,N,Capital Power GP Holdings Inc.; TransAlta Ener...,12/31/2016 23:56
24777246,4604,12/31/2016,24,,GN3,0,0.00,0,326,326,326,Y,326,N,Capital Power GP Holdings Inc.; TransAlta Ener...,12/31/2016 23:56
24777247,4605,12/31/2016,24,,EGC1,0,0.00,0,390,390,390,Y,390,N,Capital Power GP Holdings Inc.; ENMAX Energy C...,12/31/2016 23:56
24777248,4606,12/31/2016,24,,SCR6,0,0.00,0,425,425,421,Y,421,Y,Suncor Energy Inc.,12/31/2016 23:56

In [12]:
df

,Unnamed: 0,Date,HE,Import/Export,Asset Id,Block Number,Price,From,To,Size,Available MW,Dispatched,Dispatched MW,Flexible,Offer Control,Effective Date/Time
0,0,01/01/2010,1,NaN,DRW1,1,999.99,3,6,3,3,N,0,Y,&amp;nbsp;,01/01/2010 00:30
1,1,01/01/2010,1,NaN,ALP2,1,999.99,4,7,3,3,N,0,Y,&amp;nbsp;,01/01/2010 00:30
2,2,01/01/2010,1,NaN,FNG1,2,999.99,43,47,4,4,N,0,Y,&amp;nbsp;,01/01/2010 00:30
3,3,01/01/2010,1,NaN,WB4,1,999.99,250,270,20,20,N,0,Y,&amp;nbsp;,01/01/2010 00:30
4,4,01/01/2010,1,NaN,CMH1,3,999.99,72,115,43,43,N,0,N,&amp;nbsp;,01/01/2010 00:30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24777244,4602,12/31/2016,24,NaN,SCR5,0,0.00,0,315,315,315,Y,315,Y,Suncor Energy Inc.,12/31/2016 23:56
24777245,4603,12/31/2016,24,NaN,KH3,0,0.00,0,323,323,323,Y,323,N,Capital Power GP Holdings Inc.; TransAlta Ener...,12/31/2016 23:56
24777246,4604,12/31/2016,24,NaN,GN3,0,0.00,0,326,326,326,Y,326,N,Capital Power GP Holdings Inc.; TransAlta Ener...,12/31/2016 23:56
24777247,4605,12/31/2016,24,NaN,EGC1,0,0.00,0,390,390,390,Y,390,N,Capital Power GP Holdings Inc.; ENMAX Energy C...,12/31/2016 23:56
24777248,4606,12/31/2016,24,NaN,SCR6,0,0.00,0,425,425,421,Y,421,Y,Suncor Energy Inc.,12/31/2016 23:56

In [13]:
df.columns

Index(['Unnamed: 0', 'Date', 'HE', 'Import/Export', 'Asset Id', 'Block Number',
       'Price', 'From', 'To', 'Size', 'Available MW', 'Dispatched',
       'Dispatched MW', 'Flexible', 'Offer Control', 'Effective Date/Time'],
      dtype='object')

In [14]:
newCols = ['Date', 'HE', 'Import/Export', 'Asset Id', 'Block Number',
       'Price', 'From', 'To', 'Size', 'Available MW', 'Dispatched',
       'Dispatched MW', 'Flexible', 'Offer Control', 'Effective Date/Time']



df = df[newCols]

In [15]:
df['HE'].unique()

array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19,
       20, 21, 22, 23, 24, '14', '15', '16', '17', '18', '19', '20', '21',
       '22', '23', '24', '1', '2', '3', '4', '5', '6', '7', '8', '9',
       '10', '11', '12', '13', '01', '02', '02*', '03', '04', '05', '06',
       '07', '08', '09'], dtype=object)

In [16]:
mask = df['HE'] == '02*'

sum(mask)

2278

In [17]:
oldShape  = df.shape 
print(oldShape)

(24777249, 15)

In [18]:
df  = df.loc[~mask]

In [19]:
###number of dst data points removed 
df.shape[0] - oldShape[0]

-2278

In [20]:
df.dtypes

Date                    object
HE                      object
Import/Export           object
Asset Id                object
Block Number             int64
Price                  float64
From                     int64
To                       int64
Size                     int64
Available MW             int64
Dispatched              object
Dispatched MW            int64
Flexible                object
Offer Control           object
Effective Date/Time     object
dtype: object

In [21]:
df.astype({'HE':int})

,Date,HE,Import/Export,Asset Id,Block Number,Price,From,To,Size,Available MW,Dispatched,Dispatched MW,Flexible,Offer Control,Effective Date/Time
0,01/01/2010,1,NaN,DRW1,1,999.99,3,6,3,3,N,0,Y,&amp;nbsp;,01/01/2010 00:30
1,01/01/2010,1,NaN,ALP2,1,999.99,4,7,3,3,N,0,Y,&amp;nbsp;,01/01/2010 00:30
2,01/01/2010,1,NaN,FNG1,2,999.99,43,47,4,4,N,0,Y,&amp;nbsp;,01/01/2010 00:30
3,01/01/2010,1,NaN,WB4,1,999.99,250,270,20,20,N,0,Y,&amp;nbsp;,01/01/2010 00:30
4,01/01/2010,1,NaN,CMH1,3,999.99,72,115,43,43,N,0,N,&amp;nbsp;,01/01/2010 00:30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24777244,12/31/2016,24,NaN,SCR5,0,0.00,0,315,315,315,Y,315,Y,Suncor Energy Inc.,12/31/2016 23:56
24777245,12/31/2016,24,NaN,KH3,0,0.00,0,323,323,323,Y,323,N,Capital Power GP Holdings Inc.; TransAlta Ener...,12/31/2016 23:56
24777246,12/31/2016,24,NaN,GN3,0,0.00,0,326,326,326,Y,326,N,Capital Power GP Holdings Inc.; TransAlta Ener...,12/31/2016 23:56
24777247,12/31/2016,24,NaN,EGC1,0,0.00,0,390,390,390,Y,390,N,Capital Power GP Holdings Inc.; ENMAX Energy C...,12/31/2016 23:56
24777248,12/31/2016,24,NaN,SCR6,0,0.00,0,425,425,421,Y,421,Y,Suncor Energy Inc.,12/31/2016 23:56

In [22]:
df['HE'] = pd.to_numeric(df['HE'] )

In [23]:
df.dtypes

Date                    object
HE                       int64
Import/Export           object
Asset Id                object
Block Number             int64
Price                  float64
From                     int64
To                       int64
Size                     int64
Available MW             int64
Dispatched              object
Dispatched MW            int64
Flexible                object
Offer Control           object
Effective Date/Time     object
dtype: object

In [24]:
df['HE'].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24], dtype=int64)

In [25]:
df['HE']

0            1
1            1
2            1
3            1
4            1
            ..
24777244    24
24777245    24
24777246    24
24777247    24
24777248    24
Name: HE, Length: 24774971, dtype: int64

In [26]:
df

,Date,HE,Import/Export,Asset Id,Block Number,Price,From,To,Size,Available MW,Dispatched,Dispatched MW,Flexible,Offer Control,Effective Date/Time
0,01/01/2010,1,NaN,DRW1,1,999.99,3,6,3,3,N,0,Y,&amp;nbsp;,01/01/2010 00:30
1,01/01/2010,1,NaN,ALP2,1,999.99,4,7,3,3,N,0,Y,&amp;nbsp;,01/01/2010 00:30
2,01/01/2010,1,NaN,FNG1,2,999.99,43,47,4,4,N,0,Y,&amp;nbsp;,01/01/2010 00:30
3,01/01/2010,1,NaN,WB4,1,999.99,250,270,20,20,N,0,Y,&amp;nbsp;,01/01/2010 00:30
4,01/01/2010,1,NaN,CMH1,3,999.99,72,115,43,43,N,0,N,&amp;nbsp;,01/01/2010 00:30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24777244,12/31/2016,24,NaN,SCR5,0,0.00,0,315,315,315,Y,315,Y,Suncor Energy Inc.,12/31/2016 23:56
24777245,12/31/2016,24,NaN,KH3,0,0.00,0,323,323,323,Y,323,N,Capital Power GP Holdings Inc.; TransAlta Ener...,12/31/2016 23:56
24777246,12/31/2016,24,NaN,GN3,0,0.00,0,326,326,326,Y,326,N,Capital Power GP Holdings Inc.; TransAlta Ener...,12/31/2016 23:56
24777247,12/31/2016,24,NaN,EGC1,0,0.00,0,390,390,390,Y,390,N,Capital Power GP Holdings Inc.; ENMAX Energy C...,12/31/2016 23:56
24777248,12/31/2016,24,NaN,SCR6,0,0.00,0,425,425,421,Y,421,Y,Suncor Energy Inc.,12/31/2016 23:56

In [27]:
newIDX = pd.to_datetime(df['Date']) + pd.to_timedelta(df['HE'].astype(int) - 1, unit='h')

In [28]:
df.index = newIDX

In [29]:
import numpy as np 

np.unique(newIDX)

array(['2010-01-01T00:00:00.000000000', '2010-01-01T01:00:00.000000000',
       '2010-01-01T02:00:00.000000000', ...,
       '2022-03-07T21:00:00.000000000', '2022-03-07T22:00:00.000000000',
       '2022-03-07T23:00:00.000000000'], dtype='datetime64[ns]')

In [30]:
uniTimestamps = np.unique(df.index)
mask = df.index == uniTimestamps[0]
df.loc[mask,:]

,Date,HE,Import/Export,Asset Id,Block Number,Price,From,To,Size,Available MW,Dispatched,Dispatched MW,Flexible,Offer Control,Effective Date/Time
2010-01-01,01/01/2010,1,NaN,DRW1,1,999.99,3,6,3,3,N,0,Y,&amp;nbsp;,01/01/2010 00:30
2010-01-01,01/01/2010,1,NaN,ALP2,1,999.99,4,7,3,3,N,0,Y,&amp;nbsp;,01/01/2010 00:30
2010-01-01,01/01/2010,1,NaN,FNG1,2,999.99,43,47,4,4,N,0,Y,&amp;nbsp;,01/01/2010 00:30
2010-01-01,01/01/2010,1,NaN,WB4,1,999.99,250,270,20,20,N,0,Y,&amp;nbsp;,01/01/2010 00:30
2010-01-01,01/01/2010,1,NaN,CMH1,3,999.99,72,115,43,43,N,0,N,&amp;nbsp;,01/01/2010 00:30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2010-01-01,01/01/2010,1,NaN,KH1,0,0.00,0,310,310,310,Y,310,N,&amp;nbsp;,01/01/2010 00:30
2010-01-01,01/01/2010,1,NaN,SH1,0,0.00,0,312,312,312,Y,312,Y,&amp;nbsp;,01/01/2010 00:30
2010-01-01,01/01/2010,1,NaN,SD4,0,0.00,0,350,350,350,Y,350,Y,&amp;nbsp;,01/01/2010 00:30
2010-01-01,01/01/2010,1,NaN,SD5,0,0.00,0,353,353,353,Y,353,Y,&amp;nbsp;,01/01/2010 00:30
2010-01-01,01/01/2010,1,NaN,SCR1,0,0.00,0,418,418,418,Y,418,Y,&amp;nbsp;,01/01/2010 00:30

In [31]:
moUnits = df['Asset Id'].unique()

In [32]:
filenames

['ActualForecastWMRQHReportServlet-ending2022.csv',
 'aeso_asset_types.csv',
 'csd2022.csv',
 'hourlyClimate-ending2022.csv',
 'MeritOrderSnapshotEnergyReportServlet-ending2022.csv']

In [33]:
fpath = os.path.join(dataFolder,filenames[1])
aesoTypes = pd.read_csv(fpath)

In [34]:
fpath = os.path.join(dataFolder,filenames[2])
csdTypes = pd.read_csv(fpath)

In [35]:
unlisted = [x for x in moUnits if x not in aesoTypes['AssetID'].to_list()]
unlisted


#### export listed units to csv for combining

['WB4',
 'RB2',
 'TMR',
 'SD2',
 'SD1',
 'PWSK',
 'TEBC',
 'REXS',
 'EPXM',
 'MFG1',
 'CRW1',
 'BFD1',
 'SDH1',
 'COD1',
 'WST1',
 'CRR2',
 'RIV1',
 'WHT1',
 'SUM1',
 'ERV1',
 'VXH1',
 'INF1',
 'SUF1',
 'HUL1',
 'RTL1',
 'MUL1',
 'BRD1',
 'SET1',
 'WEF1',
 'HRT1',
 'ERV2',
 'BUR1',
 'JER1',
 'HYS1',
 'WRW1',
 'CLR1',
 'CLR2',
 'WHT2',
 'CABC',
 'RESK',
 'SPX7',
 'PWXM',
 'TISK',
 'DYXB',
 'CSBC',
 'TEMT',
 'PW41',
 'PWMT',
 'TIXS',
 'EPMT',
 'SHXM',
 'CSXB',
 'TPMT',
 'CAXB',
 'TESK',
 'CGBC',
 'CASK',
 'MQXM',
 'TIMT',
 'TEXM',
 'NPC3',
 'EEXM',
 'SVSK',
 'ESXM',
 'STR1',
 'STR2',
 'DYBC',
 'BRBC',
 'EESK',
 'REMT',
 'UBMT',
 'MOSK',
 'SVXS',
 'SEBC',
 'ESMT',
 'APMT',
 'MOXS',
 'BRXB',
 'DYXM',
 'DYMT',
 'TIXM',
 'SMBC',
 'DMXB',
 'TPXM',
 'APXM',
 'TIBC',
 'CAXS',
 'UOA1',
 'SPMT']

In [36]:
mask = df['Asset Id'].isin(unlisted)
sum(mask)

927292

In [37]:
sum(mask)/df.shape[0]

0.03742858064294

In [38]:
temp = df.loc[mask]

In [39]:
pd.pivot_table(temp, values=['Size'], index=['Asset Id'], aggfunc=np.sum)

             Size
Asset Id
APMT           20
APXM           41
BFD1       166968
BRBC         1875
BRD1       100270
...           ...
WEF1       176500
WHT1      5168393
WHT2       693412
WRW1       657644
WST1       372619

[89 rows x 1 columns]

In [40]:
colTypes  = ['Asset Id', 'MC', 'Type'] 
csdTypes = csdTypes.loc[:,colTypes]
colTypes  = ['AssetID', 'MC', 'Type'] 
aesoTypes = aesoTypes.loc[:,colTypes]

csdTypes.columns = colTypes
aesoTypes.columns = colTypes

In [41]:
FuelTypes =  pd.merge(aesoTypes, csdTypes, on= 'AssetID', how='outer')

In [42]:
mask = FuelTypes['Type_x'].isna()
FuelTypes.loc[mask, ['MC_x',"Type_x"]] = FuelTypes.loc[mask, ['MC_y',"Type_y"]].values

In [43]:
FuelTypes

    AssetID   MC_x   Type_x   MC_y   Type_y
0      AFG1  131.0  Biomass  131.0  Biomass
1      BSC1   15.0  Biomass   15.0    Solar
2      CCMH   42.0  Biomass   42.0  Biomass
3      DAI1   52.0  Biomass   52.0  Biomass
4      EAGL   25.0  Biomass   25.0  Biomass
..      ...    ...      ...    ...      ...
199    WHT2  151.0     Wind  151.0     Wind
200    WRW1  207.0     Wind  207.0     Wind
201    BON1   10.0  Biomass   10.0  Biomass
202    SLP1    9.0  Biomass    9.0  Biomass
203    WST1   18.0  Biomass   18.0  Biomass

[204 rows x 5 columns]

In [44]:
df['PriceMW'] = df['Price'] * df['Available MW']
df['CapturePMW'] = df['Price'] * df['Dispatched MW']

In [45]:
mask = df['Asset Id'] == FuelTypes['AssetID'][0]

In [46]:
df.loc[mask,:]

,Date,HE,Import/Export,Asset Id,Block Number,Price,From,To,Size,Available MW,Dispatched,Dispatched MW,Flexible,Offer Control,Effective Date/Time,PriceMW,CapturePMW
2010-01-01 00:00:00,01/01/2010,1,NaN,AFG1,2,999.0,6,11,5,5,N,0,Y,&amp;nbsp;,01/01/2010 00:30,4995.0,0.0
2010-01-01 00:00:00,01/01/2010,1,NaN,AFG1,1,25.0,1,6,5,5,Y,5,Y,&amp;nbsp;,01/01/2010 00:30,125.0,125.0
2010-01-01 00:00:00,01/01/2010,1,NaN,AFG1,0,0.0,0,1,1,1,Y,1,Y,&amp;nbsp;,01/01/2010 00:30,0.0,0.0
2010-01-01 01:00:00,01/01/2010,2,NaN,AFG1,2,999.0,6,11,5,5,N,0,Y,&amp;nbsp;,01/01/2010 01:30,4995.0,0.0
2010-01-01 01:00:00,01/01/2010,2,NaN,AFG1,1,25.0,1,6,5,5,Y,5,Y,&amp;nbsp;,01/01/2010 01:30,125.0,125.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-12-31 22:00:00,12/31/2016,23,NaN,AFG1,0,0.0,0,13,13,13,Y,13,N,Alberta Pacific Forest Industries,12/31/2016 22:50,0.0,0.0
2016-12-31 23:00:00,12/31/2016,24,NaN,AFG1,3,999.0,30,32,2,2,N,0,N,Alberta Pacific Forest Industries,12/31/2016 23:56,1998.0,0.0
2016-12-31 23:00:00,12/31/2016,24,NaN,AFG1,2,500.0,25,30,5,5,N,0,N,Alberta Pacific Forest Industries,12/31/2016 23:56,2500.0,0.0
2016-12-31 23:00:00,12/31/2016,24,NaN,AFG1,1,30.0,13,25,12,12,N,0,N,Alberta Pacific Forest Industries,12/31/2016 23:56,360.0,0.0
2016-12-31 23:00:00,12/31/2016,24,NaN,AFG1,0,0.0,0,13,13,13,Y,13,N,Alberta Pacific Forest Industries,12/31/2016 23:56,0.0,0.0

In [47]:
mask = df.index == uniTimestamps[0]
tmp_df = df.loc[mask,:]

In [48]:
dailyUnits = tmp_df['Asset Id'].unique()

In [49]:
moUnits = np.unique(df['Asset Id'])

In [50]:
curUnit =  moUnits[0]
for curUnit in moUnits:
    mask = df['Asset Id'] == curUnit        
    try:
        df.loc[mask,'FuelType'] = FuelTypes.loc[FuelTypes['AssetID'] == curUnit].iloc[0,2]
        print(FuelTypes.loc[FuelTypes['AssetID'] == curUnit].iloc[0,2])
    except:
        df.loc[mask,'FuelType'] = 'Unlisted'
        print("Unlisted")

Financial
Biomass
Wind
Gas
Gas
Gas
Gas
Unlisted
Gas
Financial
Unlisted
Wind
Gas
Gas
Gas
Gas
Hydro
Hydro
Financial
Coal
Coal
Hydro
Unlisted
Solar
Unlisted
Biomass
Wind
Wind
Wind
Wind
Solar
Unlisted
Gas
Unlisted
Unlisted
Unlisted
Biomass
Unlisted
Hydro
Gas
Solar
Solar
Gas
Gas
Gas
Wind
Wind
Wind
Wind
Gas
Gas
Gas
Unlisted
Unlisted
Unlisted
Financial
Financial
Financial
Financial
Financial
Financial
Biomass
Hydro
Unlisted
Gas
Gas
Unlisted
Unlisted
Unlisted
Unlisted
Biomass
Gas
Gas
Financial
Financial
Financial
Financial
Unlisted
Financial
Unlisted
Gas
Financial
Financial
Financial
Gas
Gas
Gas
Unlisted
Unlisted
ENERGY STORAGE
ENERGY STORAGE
Financial
Unlisted
Financial
Unlisted
Gas
Gas
Gas
Gas
Coal
Coal
Coal
Biomass
Biomass
Wind
Wind
Gas
Coal
Gas
Gas
Solar
Solar
Hydro
Wind
Wind
Solar
Gas
Gas
Solar
Gas
Coal
Coal
Coal
Wind
Financial
Gas
Gas
Gas
Gas
Unlisted
Financial
Financial
Financial
Financial
Financial
Financial
Gas
Gas
Financial
Financial
Unlisted
Financial
Financial
Unlisted
Unlisted
Gas
Gas
Wind
Gas
Gas
Gas
Gas
Biomass
Gas
Gas
Hydro
Wind
Gas
Gas
Gas
Financial
Unlisted
Financial
Unlisted
Unlisted
Unlisted
Unlisted
Gas
Financial
Unlisted
Unlisted
Financial
Financial
Unlisted
Wind
Gas
Wind
Hydro
Gas
Gas
Wind
Wind
Wind
Gas
Gas
Unlisted
Unlisted
Coal
Coal
Coal
Coal
Gas
Unlisted
Gas
Coal
Coal
Financial
Financial
Financial
Financial
Unlisted
Financial
Unlisted
Financial
Unlisted
Financial
Financial
Unlisted
Financial
Solar
Solar
Solar
ENERGY STORAGE
Unlisted
Unlisted
Wind
Hydro
Gas
Gas
Unlisted
Financial
Financial
Unlisted
Unlisted
Unlisted
Unlisted
Unlisted
Unlisted
Unlisted
Unlisted
Gas
Unlisted
Unlisted
Unlisted
Financial
Unlisted
Gas
Gas
Gas
Gas
Solar
Unlisted
Gas
Solar
Biomass
Wind
Wind
Wind
Biomass
Biomass

In [51]:
df['datetime'] = df.index

In [52]:
df

,Date,HE,Import/Export,Asset Id,Block Number,Price,From,To,Size,Available MW,Dispatched,Dispatched MW,Flexible,Offer Control,Effective Date/Time,PriceMW,CapturePMW,FuelType,datetime
2010-01-01 00:00:00,01/01/2010,1,NaN,DRW1,1,999.99,3,6,3,3,N,0,Y,&amp;nbsp;,01/01/2010 00:30,2999.97,0.0,Gas,2010-01-01 00:00:00
2010-01-01 00:00:00,01/01/2010,1,NaN,ALP2,1,999.99,4,7,3,3,N,0,Y,&amp;nbsp;,01/01/2010 00:30,2999.97,0.0,Gas,2010-01-01 00:00:00
2010-01-01 00:00:00,01/01/2010,1,NaN,FNG1,2,999.99,43,47,4,4,N,0,Y,&amp;nbsp;,01/01/2010 00:30,3999.96,0.0,Gas,2010-01-01 00:00:00
2010-01-01 00:00:00,01/01/2010,1,NaN,WB4,1,999.99,250,270,20,20,N,0,Y,&amp;nbsp;,01/01/2010 00:30,19999.80,0.0,Unlisted,2010-01-01 00:00:00
2010-01-01 00:00:00,01/01/2010,1,NaN,CMH1,3,999.99,72,115,43,43,N,0,N,&amp;nbsp;,01/01/2010 00:30,42999.57,0.0,Gas,2010-01-01 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-12-31 23:00:00,12/31/2016,24,NaN,SCR5,0,0.00,0,315,315,315,Y,315,Y,Suncor Energy Inc.,12/31/2016 23:56,0.00,0.0,Gas,2016-12-31 23:00:00
2016-12-31 23:00:00,12/31/2016,24,NaN,KH3,0,0.00,0,323,323,323,Y,323,N,Capital Power GP Holdings Inc.; TransAlta Ener...,12/31/2016 23:56,0.00,0.0,Coal,2016-12-31 23:00:00
2016-12-31 23:00:00,12/31/2016,24,NaN,GN3,0,0.00,0,326,326,326,Y,326,N,Capital Power GP Holdings Inc.; TransAlta Ener...,12/31/2016 23:56,0.00,0.0,Coal,2016-12-31 23:00:00
2016-12-31 23:00:00,12/31/2016,24,NaN,EGC1,0,0.00,0,390,390,390,Y,390,N,Capital Power GP Holdings Inc.; ENMAX Energy C...,12/31/2016 23:56,0.00,0.0,Gas,2016-12-31 23:00:00
2016-12-31 23:00:00,12/31/2016,24,NaN,SCR6,0,0.00,0,425,425,421,Y,421,Y,Suncor Energy Inc.,12/31/2016 23:56,0.00,0.0,Gas,2016-12-31 23:00:00

In [63]:
pvt = pd.pivot_table(df, values =['Available MW', 'PriceMW', 'Dispatched MW'], index= ['datetime'],
        columns='FuelType', aggfunc=np.sum)

In [ ]:
pvt.columns

MultiIndex([( 'Available MW',        'Biomass'),
            ( 'Available MW',           'Coal'),
            ( 'Available MW', 'ENERGY STORAGE'),
            ( 'Available MW',      'Financial'),
            ( 'Available MW',            'Gas'),
            ( 'Available MW',          'Hydro'),
            ( 'Available MW',          'Solar'),
            ( 'Available MW',       'Unlisted'),
            ( 'Available MW',           'Wind'),
            ('Dispatched MW',        'Biomass'),
            ('Dispatched MW',           'Coal'),
            ('Dispatched MW', 'ENERGY STORAGE'),
            ('Dispatched MW',      'Financial'),
            ('Dispatched MW',            'Gas'),
            ('Dispatched MW',          'Hydro'),
            ('Dispatched MW',          'Solar'),
            ('Dispatched MW',       'Unlisted'),
            ('Dispatched MW',           'Wind'),
            (      'PriceMW',        'Biomass'),
            (      'PriceMW',           'Coal'),
            (      'PriceMW', 'ENERGY STORAGE'),
            (      'PriceMW',      'Financial'),
            (      'PriceMW',            'Gas'),
            (      'PriceMW',          'Hydro'),
            (      'PriceMW',          'Solar'),
            (      'PriceMW',       'Unlisted'),
            (      'PriceMW',           'Wind')],
           names=[None, 'FuelType'])

In [ ]:
#### how to calculate  weighted average price,   sum(price * MW)/sum(MW)
'''
What are the important parts of Merit Order analysis.  The factors:
- Weighted average dispatch price and wa-offer price
- Which crosssections, by fuelType, by Offer Control 

'''

'\nWhat are the important parts of Merit Order analysis.  The factors:\n- Weighted average dispatch price and wa-offer price\n- Which crosssections, by fuelType, by Offer Control \n\n'

In [142]:
df['Year']  = df.index.year

df['Month'] = df.index.month

df['Weekday']= df.index.weekday

df.columns
Index(['Date', 'HE', 'Import/Export', 'Asset Id', 'Block Number', 'Price',
       'From', 'To', 'Size', 'Available MW', 'Dispatched', 'Dispatched MW',
       'Flexible', 'Offer Control', 'Effective Date/Time', 'PriceMW',
       'CapturePMW', 'FuelType', 'datetime'],
      dtype='object')

In [64]:
pvt.columns = pvt.columns.to_flat_index()

In [65]:
os.path.join(outputFolder, 'processed_pivot_byFuelType.csv')

'd:\\gitgood\\ccb_aesoDownload_tutorial\\dataFromAeso\\processed\\processed_pivot_byFuelType.csv'

In [67]:
pvt.to_csv(os.path.join(outputFolder, 'processed_pivot_byFuelType.csv'))

In [68]:
df

,Date,HE,Import/Export,Asset Id,Block Number,Price,From,To,Size,Available MW,Dispatched,Dispatched MW,Flexible,Offer Control,Effective Date/Time,PriceMW,CapturePMW,FuelType,datetime
2010-01-01 00:00:00,01/01/2010,1,NaN,DRW1,1,999.99,3,6,3,3,N,0,Y,&amp;nbsp;,01/01/2010 00:30,2999.97,0.0,Gas,2010-01-01 00:00:00
2010-01-01 00:00:00,01/01/2010,1,NaN,ALP2,1,999.99,4,7,3,3,N,0,Y,&amp;nbsp;,01/01/2010 00:30,2999.97,0.0,Gas,2010-01-01 00:00:00
2010-01-01 00:00:00,01/01/2010,1,NaN,FNG1,2,999.99,43,47,4,4,N,0,Y,&amp;nbsp;,01/01/2010 00:30,3999.96,0.0,Gas,2010-01-01 00:00:00
2010-01-01 00:00:00,01/01/2010,1,NaN,WB4,1,999.99,250,270,20,20,N,0,Y,&amp;nbsp;,01/01/2010 00:30,19999.80,0.0,Unlisted,2010-01-01 00:00:00
2010-01-01 00:00:00,01/01/2010,1,NaN,CMH1,3,999.99,72,115,43,43,N,0,N,&amp;nbsp;,01/01/2010 00:30,42999.57,0.0,Gas,2010-01-01 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-12-31 23:00:00,12/31/2016,24,NaN,SCR5,0,0.00,0,315,315,315,Y,315,Y,Suncor Energy Inc.,12/31/2016 23:56,0.00,0.0,Gas,2016-12-31 23:00:00
2016-12-31 23:00:00,12/31/2016,24,NaN,KH3,0,0.00,0,323,323,323,Y,323,N,Capital Power GP Holdings Inc.; TransAlta Ener...,12/31/2016 23:56,0.00,0.0,Coal,2016-12-31 23:00:00
2016-12-31 23:00:00,12/31/2016,24,NaN,GN3,0,0.00,0,326,326,326,Y,326,N,Capital Power GP Holdings Inc.; TransAlta Ener...,12/31/2016 23:56,0.00,0.0,Coal,2016-12-31 23:00:00
2016-12-31 23:00:00,12/31/2016,24,NaN,EGC1,0,0.00,0,390,390,390,Y,390,N,Capital Power GP Holdings Inc.; ENMAX Energy C...,12/31/2016 23:56,0.00,0.0,Gas,2016-12-31 23:00:00
2016-12-31 23:00:00,12/31/2016,24,NaN,SCR6,0,0.00,0,425,425,421,Y,421,Y,Suncor Energy Inc.,12/31/2016 23:56,0.00,0.0,Gas,2016-12-31 23:00:00

In [69]:
pvt = pd.pivot_table(df, values =['Available MW', 'PriceMW', 'Dispatched MW'], index= ['datetime'],
        columns='Offer Control', aggfunc=np.sum)

In [70]:
pvt

                    Available MW                                 \
Offer Control         &amp;nbsp; ANC Power Inc.; Balancing Pool
datetime
2010-01-01 00:00:00      17918.0                            NaN
2010-01-01 01:00:00      17906.0                            NaN
2010-01-01 02:00:00      17728.0                            NaN
2010-01-01 03:00:00      17990.0                            NaN
2010-01-01 04:00:00      17938.0                            NaN
...                          ...                            ...
2022-03-07 19:00:00          NaN                            NaN
2022-03-07 20:00:00          NaN                            NaN
2022-03-07 21:00:00          NaN                            NaN
2022-03-07 22:00:00          NaN                            NaN
2022-03-07 23:00:00          NaN                            NaN

                                                                                    \
Offer Control       ANC Power Inc.; Balancing Pool; Capital Power GP Holdings Inc.
datetime
2010-01-01 00:00:00                                                NaN
2010-01-01 01:00:00                                                NaN
2010-01-01 02:00:00                                                NaN
2010-01-01 03:00:00                                                NaN
2010-01-01 04:00:00                                                NaN
...                                                                ...
2022-03-07 19:00:00                                                NaN
2022-03-07 20:00:00                                                NaN
2022-03-07 21:00:00                                                NaN
2022-03-07 22:00:00                                                NaN
2022-03-07 23:00:00                                                NaN

                                                                                                            \
Offer Control       ANC Power Inc.; Balancing Pool; Capital Power GP Holdings Inc.; TransCanada Energy Ltd
datetime
2010-01-01 00:00:00                                                NaN
2010-01-01 01:00:00                                                NaN
2010-01-01 02:00:00                                                NaN
2010-01-01 03:00:00                                                NaN
2010-01-01 04:00:00                                                NaN
...                                                                ...
2022-03-07 19:00:00                                                NaN
2022-03-07 20:00:00                                                NaN
2022-03-07 21:00:00                                                NaN
2022-03-07 22:00:00                                                NaN
2022-03-07 23:00:00                                                NaN

                                                                            \
Offer Control       ANC Power Inc.; Balancing Pool; TransCanada Energy Ltd
datetime
2010-01-01 00:00:00                                                NaN
2010-01-01 01:00:00                                                NaN
2010-01-01 02:00:00                                                NaN
2010-01-01 03:00:00                                                NaN
2010-01-01 04:00:00                                                NaN
...                                                                ...
2022-03-07 19:00:00                                                NaN
2022-03-07 20:00:00                                                NaN
2022-03-07 21:00:00                                                NaN
2022-03-07 22:00:00                                                NaN
2022-03-07 23:00:00                                                NaN

                                                                         \
Offer Control       ATCO Electic Ltd. ATCO Electic Ltd.; Balancing Pool
datetime
2010-01-01 00:00:00               NaN                               NaN
2010-01-01 01:00:00               NaN                               NaN
2010-01-01 02:00:00               NaN                               NaN
2010-01-01 03:00:00               NaN                               NaN
2010-01-01 04:00:00               NaN                               NaN
...                               ...                               ...
2022-03-07 19:00:00               NaN                               NaN
2022-03-07 20:00:00               NaN                               NaN
2022-03-07 21:00:00               NaN                               NaN
2022-03-07 22:00:00               NaN                               NaN
2022-03-07 23:00:00               NaN                               NaN

                                                                  \
Offer Control       ATCO Electic Ltd.; ENMAX PPA Management Inc.
datetime
2010-01-01 00:00:00                                          NaN
2010-01-01 01:00:00                                          NaN
2010-01-01 02:00:00                                          NaN
2010-01-01 03:00:00                                          NaN
2010-01-01 04:00:00                                          NaN
...                                                          ...
2022-03-07 19:00:00                                          NaN
2022-03-07 20:00:00                                          NaN
2022-03-07 21:00:00                                          NaN
2022-03-07 22:00:00                                          NaN
2022-03-07 23:00:00                                          NaN

                                                                   ...  \
Offer Control       ATCO Power (2010) Ltd. ATCO Power Canada Ltd.  ...
datetime                                                           ...
2010-01-01 00:00:00                    NaN                    NaN  ...
2010-01-01 01:00:00                    NaN                    NaN  ...
2010-01-01 02:00:00                    NaN                    NaN  ...
2010-01-01 03:00:00                    NaN                    NaN  ...
2010-01-01 04:00:00                    NaN                    NaN  ...
...                                    ...                    ...  ...
2022-03-07 19:00:00                    8.0                    NaN  ...
2022-03-07 20:00:00                    8.0                    NaN  ...
2022-03-07 21:00:00                    8.0                    NaN  ...
2022-03-07 22:00:00                    8.0                    NaN  ...
2022-03-07 23:00:00                    8.0                    NaN  ...

                                          PriceMW  \
Offer Control       TransCanada Energy Sales Ltd.
datetime
2010-01-01 00:00:00                           NaN
2010-01-01 01:00:00                           NaN
2010-01-01 02:00:00                           NaN
2010-01-01 03:00:00                           NaN
2010-01-01 04:00:00                           NaN
...                                           ...
2022-03-07 19:00:00                           0.0
2022-03-07 20:00:00                           0.0
2022-03-07 21:00:00                           0.0
2022-03-07 22:00:00                           0.0
2022-03-07 23:00:00                           0.0

                                                   \
Offer Control       URICA Asset Optimization Ltd.
datetime
2010-01-01 00:00:00                           NaN
2010-01-01 01:00:00                           NaN
2010-01-01 02:00:00                           NaN
2010-01-01 03:00:00                           NaN
2010-01-01 04:00:00                           NaN
...                                           ...
2022-03-07 19:00:00                      48355.64
2022-03-07 20:00:00                      48355.64
2022-03-07 21:00:00                      30355.82
2022-03-07 22:00:00                      50632.76
2022-03-07 23:00:00                      38742.88

                                                                        \
Offer Control       URICA Energy Real Time Ltd.  University of Alberta
datetime
2010-01-01 00:00:00                          NaN                   NaN
2010-01-01 01:00:00                          NaN                   NaN
2010-01-01 02:00:00                          NaN                   NaN
2010-01-01 03:00:00                          NaN                   NaN
2010-01-01 04:00:00                          NaN                   NaN
...                                          ...                   ...
2022-03-07 19:00:00                          NaN                   NaN
2022-03-07 20:00:00                          NaN                   NaN
2022-03-07 21:00:00                          NaN                   NaN
2022-03-07 22:00:00                          NaN                   NaN
2022-03-07 23:00:00                          NaN                   NaN

                                                            \
Offer Control       University of Calgary WCSB GP III Ltd.
datetime
2010-01-01 00:00:00                   NaN              NaN
2010-01-01 01:00:00                   NaN              NaN
2010-01-01 02:00:00                   NaN              NaN
2010-01-01 03:00:00                   NaN              NaN
2010-01-01 04:00:00                   NaN              NaN
...                                   ...              ...
2022-03-07 19:00:00                   0.0              NaN
2022-03-07 20:00:00                   0.0              NaN
2022-03-07 21:00:00                   0.0              NaN
2022-03-07 22:00:00                   0.0              NaN
2022-03-07 23:00:00                   0.0              NaN

                                                                      \
Offer Control       West Fraser Mills Ltd. Weyerhaeuser Company Ltd.
datetime
2010-01-01 00:00:00                    NaN                       NaN
2010-01-01 01:00:00                    NaN                       NaN
2010-01-01 02:00:00                    NaN                       NaN
2010-01-01 03:00:00                    NaN                       NaN
2010-01-01 04:00:00                    NaN                       NaN
...                                    ...                       ...
2022-03-07 19:00:00                 9990.0                       NaN
2022-03-07 20:00:00                 9990.0                       NaN
2022-03-07 21:00:00                 9990.0                       NaN
2022-03-07 22:00:00                 9990.0                       NaN
2022-03-07 23:00:00                 9990.0                       NaN


Offer Control       Whitecourt Power Ltd. Whitla 2 Wind Generation L.P.
datetime
2010-01-01 00:00:00                   NaN                           NaN
2010-01-01 01:00:00                   NaN                           NaN
2010-01-01 02:00:00                   NaN                           NaN
2010-01-01 03:00:00                   NaN                           NaN
2010-01-01 04:00:00                   NaN                           NaN
...                                   ...                           ...
2022-03-07 19:00:00                630.10                           0.0
2022-03-07 20:00:00                630.10                           0.0
2022-03-07 21:00:00                630.10                           0.0
2022-03-07 22:00:00                630.10                           0.0
2022-03-07 23:00:00                890.14                           0.0

[106640 rows x 396 columns]