In [1]:
import pandas as pd 
import os

In [2]:
subfolders = [ f.path for f in os.scandir(os.getcwd()) if f.is_dir() ]
subfolders

['d:\\gitgood\\ccb_aesoDownload_tutorial\\dataFromAeso',
 'd:\\gitgood\\ccb_aesoDownload_tutorial\\support docs',
 'd:\\gitgood\\ccb_aesoDownload_tutorial\\weatherCanada']

In [3]:
dataFolder = subfolders[2]
dataFolder

'd:\\gitgood\\ccb_aesoDownload_tutorial\\weatherCanada'

In [4]:
subfolders2 = [ f.path for f in os.scandir(dataFolder) if f.is_dir() ]
subfolders2

['d:\\gitgood\\ccb_aesoDownload_tutorial\\weatherCanada\\hourly']

In [5]:
filenames = [f for f in os.listdir(subfolders2[0]) if '.csv' in f and '#' not in f]
filenames

['blanchford-05072022-hourly.csv',
 'brocket-05072022-hourly.csv',
 'bronwvale-05072022-hourly.csv',
 'calgarycs-05072022-hourly.csv',
 'mcmurraycs-05072022-hourly.csv',
 'vermillion-05072022-hourly.csv']

In [6]:
    #### datafolder is where all the data is stored 
#### Reads and extracts Climate Canada reports from folder 
i = 0 

filenames = [f for f in os.listdir(subfolders2[i]) if '.csv' in f and '#' not in f]
selectedReports = [f for f in filenames if '.csv' in f]
selectedReports

rptDir = subfolders2[i]
reportName = rptDir.split(sep="\\")[-1]
reportName

'hourly'

In [8]:
fpath = rptDir + "\\" + selectedReports[1]
fpath.split(sep='\\')[-1].split(sep='-')[0]

'brocket'

In [9]:
pd.read_csv(fpath, sep=',',  skiprows=0)

,Unnamed: 0,TIMELST,Temp Definition°C,Dew Point Definition°C,Rel Hum Definition%,Precip. Amount Definitionmm,Wind Dir Definition10's deg,Wind Spd Definitionkm/h,Visibility Definitionkm,Stn Press DefinitionkPa,Hmdx Definition,Wind Chill Definition,Weather Definition,id,date
0,0,00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,brocket,2010-01-03
1,1,01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,brocket,2010-01-03
2,2,02:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,brocket,2010-01-03
3,3,03:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,brocket,2010-01-03
4,4,04:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,brocket,2010-01-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107779,19,19:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,brocket,2022-05-07
107780,20,20:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,brocket,2022-05-07
107781,21,21:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,brocket,2022-05-07
107782,22,22:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,brocket,2022-05-07
107783,23,23:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,brocket,2022-05-07

In [10]:

dataDF = pd.DataFrame()
for rpts in selectedReports:
    ### make path  
    fpath = rptDir + "/" + rpts
    #print(fpath)
    tmp = pd.read_csv(fpath, sep=',',  skiprows=0)

    dataDF = pd.concat([dataDF,tmp])



dataDF.to_csv(subfolders[0] + "/"+ reportName +"Climate-ending2022.csv" )

C:\Users\negativegamma\AppData\Local\Temp\ipykernel_30548\2283731189.py:6: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  tmp = pd.read_csv(fpath, sep=',',  skiprows=0)
C:\Users\negativegamma\AppData\Local\Temp\ipykernel_30548\2283731189.py:6: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  tmp = pd.read_csv(fpath, sep=',',  skiprows=0)
C:\Users\negativegamma\AppData\Local\Temp\ipykernel_30548\2283731189.py:6: DtypeWarning: Columns (2,6,9) have mixed types. Specify dtype option on import or set low_memory=False.
  tmp = pd.read_csv(fpath, sep=',',  skiprows=0)
C:\Users\negativegamma\AppData\Local\Temp\ipykernel_30548\2283731189.py:6: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  tmp = pd.read_csv(fpath, sep=',',  skiprows=0)

In [103]:
#subfolders[0] + "/"+ reportName +"Climate-ending2022.csv"

filepath = 'd:\\gitgood\\ccb_aesoDownload_tutorial\\dataFromAeso/hourlyClimate-ending2022.csv'


df = pd.read_csv(filepath, dtype='object')

In [104]:
df['HE'] = df['TIMELST'].str.split(r':', n=1, expand=True).iloc[:,0]

In [106]:
df.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'TIMELST', 'Temp Definition°C',
       'Dew Point Definition°C', 'Rel Hum Definition%',
       'Precip. Amount Definitionmm', 'Wind Dir Definition10's deg',
       'Wind Spd Definitionkm/h', 'Visibility Definitionkm',
       'Stn Press DefinitionkPa', 'Hmdx Definition', 'Wind Chill Definition',
       'Weather Definition', 'id', 'date', 'HE'],
      dtype='object')

In [107]:
df.columns

newCols = ['Temp Definition°C','Precip. Amount Definitionmm','Wind Dir Definition10\'s deg', 'Wind Spd Definitionkm/h','id', 'date', 'HE']

for cols in newCols:
    print(df[cols].shape)

df = df[newCols]

(637920,)
(637920,)
(637920,)
(637920,)
(637920,)
(637920,)
(637920,)

In [109]:
df.columns =  ['Temp C','Precip. mm','Wind Dir deg', 'Wind Spd km/h','id', 'date', 'HE']

dataCols =  ['Temp C','Precip. mm','Wind Dir deg', 'Wind Spd km/h','HE']
df

,Temp C,Precip. mm,Wind Dir deg,Wind Spd km/h,id,date,HE
0,-24.4,NaN,LegendMM,LegendMM,blanchford,2010-01-01,00
1,-24.3,NaN,LegendMM,LegendMM,blanchford,2010-01-01,01
2,-24.2,NaN,LegendMM,LegendMM,blanchford,2010-01-01,02
3,-23.9,NaN,LegendMM,LegendMM,blanchford,2010-01-01,03
4,-23.3,NaN,LegendMM,LegendMM,blanchford,2010-01-01,04
...,...,...,...,...,...,...,...
637915,4.2,1.9,18,3,vermillion,2022-05-06,19
637916,3.9,1.9,22,4,vermillion,2022-05-06,20
637917,3.5,1.9,21,2,vermillion,2022-05-06,21
637918,3.4,1.4,0,1,vermillion,2022-05-06,22
637919,2.9,1,0,1,vermillion,2022-05-06,23

In [110]:
for cols in dataCols:
    mask= pd.to_numeric(df.loc[:,cols], errors='coerce').isna() 
    df.loc[:,cols] = pd.to_numeric(df.loc[:,cols], errors='coerce')
    
    print(sum(mask)/len(mask))


##### Looks like precip and wind data have a higher NaN rate.  While temps are preserved.  So we will keep nan in the data set or set precip and wind to 0.  
df = df[df['Temp C'].notna()]
setToZero =  ['Precip. mm','Wind Dir deg', 'Wind Spd km/h']

C:\Users\negativegamma\AppData\Local\Temp\ipykernel_30548\4023904993.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:,cols] = pd.to_numeric(df.loc[:,cols], errors='coerce')

0.009476109857035364
0.34133903937797844
0.19397886882367696
0.1954649485828944
0.0

In [111]:
df

,Temp C,Precip. mm,Wind Dir deg,Wind Spd km/h,id,date,HE
0,-24.4,NaN,NaN,NaN,blanchford,2010-01-01,0
1,-24.3,NaN,NaN,NaN,blanchford,2010-01-01,1
2,-24.2,NaN,NaN,NaN,blanchford,2010-01-01,2
3,-23.9,NaN,NaN,NaN,blanchford,2010-01-01,3
4,-23.3,NaN,NaN,NaN,blanchford,2010-01-01,4
...,...,...,...,...,...,...,...
637915,4.2,1.9,18.0,3.0,vermillion,2022-05-06,19
637916,3.9,1.9,22.0,4.0,vermillion,2022-05-06,20
637917,3.5,1.9,21.0,2.0,vermillion,2022-05-06,21
637918,3.4,1.4,0.0,1.0,vermillion,2022-05-06,22
637919,2.9,1.0,0.0,1.0,vermillion,2022-05-06,23

In [114]:
df.fillna(0, inplace = True)

C:\Users\negativegamma\AppData\Local\Temp\ipykernel_30548\2038276883.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.fillna(0, inplace = True)

In [115]:
df

,Temp C,Precip. mm,Wind Dir deg,Wind Spd km/h,id,date,HE
0,-24.4,0.0,0.0,0.0,blanchford,2010-01-01,0
1,-24.3,0.0,0.0,0.0,blanchford,2010-01-01,1
2,-24.2,0.0,0.0,0.0,blanchford,2010-01-01,2
3,-23.9,0.0,0.0,0.0,blanchford,2010-01-01,3
4,-23.3,0.0,0.0,0.0,blanchford,2010-01-01,4
...,...,...,...,...,...,...,...
637915,4.2,1.9,18.0,3.0,vermillion,2022-05-06,19
637916,3.9,1.9,22.0,4.0,vermillion,2022-05-06,20
637917,3.5,1.9,21.0,2.0,vermillion,2022-05-06,21
637918,3.4,1.4,0.0,1.0,vermillion,2022-05-06,22
637919,2.9,1.0,0.0,1.0,vermillion,2022-05-06,23

In [117]:
df.columns

cols2num = ['Temp C', 'Precip. mm', 'Wind Dir deg', 'Wind Spd km/h',  'HE']
cols2date = ['date'] 
cols2str = ['id']

In [133]:
import math 

def windComponents(degrees , magnitude):
    x = math.cos(math.radians(degrees))*magnitude
    y = math.sin(math.radians(degrees))*magnitude
    return x ,y 



print(windComponents(360-53,5))

(3.00907511576024, -3.9931775502364655)

In [136]:
df.dtypes

Temp C           float64
Precip. mm       float64
Wind Dir deg     float64
Wind Spd km/h    float64
id                object
date              object
HE                 int64
dtype: object

In [168]:
temp  = df.apply(lambda x: windComponents(x['Wind Dir deg'],x['Wind Spd km/h']), axis = 1)

In [164]:
tt =  [ [i[0], i[1]] for i in iter(temp )]

In [169]:
tmp = pd.DataFrame(tt)
tmp.columns = ['Wind Cos', 'Wind Sin']

In [177]:
df.reset_index(inplace=True)
tmp.reset_index(inplace=True)
pd.concat([df,tmp.reindex(df.index)], axis=1, ignore_index= True)

C:\Users\negativegamma\AppData\Local\Temp\ipykernel_30548\2164979150.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Wind Cos'] = tmp['Wind Cos']

In [202]:
climateCols = ["Temp C", "Precip. mm", 'id', 'date', 'HE']
df.loc[:,climateCols]


pd.concat([df.loc[:,climateCols],tmp], axis=1)

,Temp C,Precip. mm,id,date,HE,level_0,index,Wind Cos,Wind Sin
0,-24.4,0.0,blanchford,2010-01-01,0,0,0,0.000000,0.000000
1,-24.3,0.0,blanchford,2010-01-01,1,1,1,0.000000,0.000000
2,-24.2,0.0,blanchford,2010-01-01,2,2,2,0.000000,0.000000
3,-23.9,0.0,blanchford,2010-01-01,3,3,3,0.000000,0.000000
4,-23.3,0.0,blanchford,2010-01-01,4,4,4,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...
631870,4.2,1.9,vermillion,2022-05-06,19,631870,631870,2.853170,0.927051
631871,3.9,1.9,vermillion,2022-05-06,20,631871,631871,3.708735,1.498426
631872,3.5,1.9,vermillion,2022-05-06,21,631872,631872,1.867161,0.716736
631873,3.4,1.4,vermillion,2022-05-06,22,631873,631873,1.000000,0.000000
631874,2.9,1.0,vermillion,2022-05-06,23,631874,631874,1.000000,0.000000

In [215]:
tmp.columns
climateCols = ['Temp C', 'Precip. mm', 'id', 'date', 'HE', 'Wind Cos', 'Wind Sin']
df = tmp.loc[:,climateCols]

In [217]:
df.columns

Index(['Temp C', 'Precip. mm', 'id', 'date', 'HE', 'Wind Cos', 'Wind Sin'], dtype='object')

In [222]:
newIDX = pd.to_datetime(df['date']) + pd.to_timedelta(df['HE'], unit='h')

In [223]:
df.index = newIDX

In [226]:
df.to_csv('d:\\gitgood\\ccb_aesoDownload_tutorial\\dataFromAeso/processed_Climate-ending2022.csv')